{% extends "layout.html" %}

{% block title %}Consultas{% endblock %}

{%block head%}
    {{super()}}
{% endblock %}

{% block content %}
<h1>Consultas</h1>

<table>
    <thread>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Estado</th>
        </tr>
    </thread>
    <tbody>
        {% for issue in issues %}
        <tr>
            <th>{{ issue.id }}</th>
            <th>{{ issue.email }}</th>
            <th>{{ issue.title }}</th>
            <th>{{ issue.desription }}</th>
            <th>{{ issue.status }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}