{% extends "layout.html" %} {% block title %} Consulta {% endblock %}
{% block head %} {{ super() }} {% endblock %} {% block content %}

<div class="container">
  {% include "components/messages.html" %}
  <form
    id="edit-form"
    class="needs-validation"
    novalidate
    action="{{url_for('contacto.save_edit', id=info.id)}}"
    method="POST"
  >
     <!--LO QUE PUEDO EDITAR-->
    <div class="row">
        <h2 class="equipo-profile-title text-secondary">Adicional</h2>
          <ul class="list-unstyled mb-1-9">
            <li class="mb-2 mb-xl-3 display-28">
                <span class="display-26 text-primary me-2 font-weight-600">Estado:</span>
                <select id="estado-input" name="estado" class="form-control" required>
                  <option value="" disabled {% if not info.estado %}selected{% endif %}>Seleccione un estado</option>
                  <option value="Pendiente" {% if info.estado == "Pendiente" %}selected{% endif %}>Pendiente</option>
                  <option value="Resuelta" {% if info.estado == "Resuelta" %}selected{% endif %}>Resuelta</option>
                </select>
                <div class="invalid-feedback">
                  Seleccione un estado.
                </div>
              </li>
              
              <li class="mb-2 mb-xl-3 display-28">
                <span class="display-26 text-primary me-2 font-weight-600">Descripción:</span>
                <input id="desc-input" name="desc" class="form-control" value="{{ info.desc }}">
                <div class="invalid-feedback">
                  Ingrese una descripción.
                </div>
              </li>
              
            
       
          </ul>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-start">
        <button
          class="btn btn-outline-primary mx-2 align-self-start"
          type="submit"
        >
          Guardar
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
            <path d="M11 2H9v3h2z"/>
            <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
          </svg>
        </button>
        <button
          class="btn btn-outline-secondary mx-2 align-self-start"
          type="button"
          onclick="window.history.back();"
        >
      Cancelar
      </button>

      </div>
    </div>
  </form>
</div>



{% endblock %}
