<form action="{{ url_for('users.index') }}" method="GET" class="input-group mb-3">
   
    <select name="estado" class="form-select M2" aria-label="Buscar por estado">
        
        <option value="">Seleccionar estado</option>
        <option value="Pendiente">Pendiente</option>
        <option value="Resuelta">Resuelta</option>
    </select>
    
    
      <button class="btn equipo-search-btn" type="submit" id="button-addon2">
          Buscar
          <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
          >
              <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
          </svg>
      </button>
      <a href="{{ url_for('users.index') }}" class="btn btn-outline-secondary">
          Reset
          <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-counterclockwise"
              viewBox="0 0 16 16"
          >
              <path
                  fill-rule="evenodd"
                  d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"
              />
              <path
                  d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"
              />
          </svg>
  
      </a>
  
  </form>
  