<form
      action="{{ url_for('cobro.index') }}"
      method="GET"
      class="mb-3 container"
    >
      <input type="hidden" name="order" value="{{order}}">
      <div class="row align-items-end">
        <div class="col-auto">
          <div class="dropdown">
            <button
              class="btn btn-outline-primary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
            >
              Seleccionar Medio De Pago
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for medio in todosLosMedios %}
              <li class="dropdown-item">
                <div class="form-check">
                  <input
                    name="medioDePago"
                    value="{{medio.name}}"
                    {% if medio.name in medios %}checked{% endif %}
                    class="form-check-input"
                    type="checkbox"
                    id="check{{medio.name}}"
                  />
                  <label class="form-check-label" for="check{{medio.name}}">
                    {{medio.name}}
                  </label>
                </div>
              </li>
              {% endfor %}
          </div>
        </div>
        <div class="col">
          <label class="">Fecha mínima</label>
          <input
            name="fechamin"
            value="{% if fecha_min %}{{fecha_min.strftime('%Y-%m-%d')}}{% endif %}"
            type="date"
            class="form-control"
            placeholder="Fecha minima"
          />
        </div>
        <div class="col">
          <label class="">Fecha máxima</label>
          <input
            name="fechamax"
            value="{% if fecha_max %}{{fecha_max.strftime('%Y-%m-%d')}}{% endif %}"
            type="date"
            class="form-control"
            placeholder="Fecha maxima"
          />
        </div>
        <div class="col">
          <label class="">Búsqueda por cobrador</label>
          <input
            value="{{ query or '' }}"
            type="text"
            name="query"
            class="form-control"
            placeholder="Buscar por nombre o apellido"
            aria-label="Buscar por columna"
            aria-describedby="button-addon2"
          />
        </div>
        <div class="col d-flex justify-content-around">
          <button type="submit" class="btn btn-outline-lblue">Buscar</button>
          <a
            href="{{ url_for('cobro.index') }}"
            class="btn btn-outline-secondary"
            >Reset</a
          >
          <a
            class="btn btn-outline-primary btn-outline-yellow"
            onclick=window.location.href="{{url_for('cobro.enter_add')}}";
          >
            Agregar cobro +
          </a>
        </div>
      </div>
    </form>