{%include "jya/components/searchbar_docs.html"%}
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="container-fluid">
      <tr class="align-items-center">
        <form
          id="sort_form"
          action="{{url_for('jya.enter_docs',id=info.id)}}"
          method="get"
        >
          <input hidden type="checkbox" name="tipoarchivo" value="Entrevista"
          {%if 'Entrevista' in tipos %}checked{% endif %}> <input hidden
          type="checkbox" name="tipoarchivo" value="Evaluación" {% if
          'Evaluación' in tipos %}checked{% endif %}> <input hidden
          type="checkbox" name="tipoarchivo" value="Planificaciones" {% if
          'Planificaciones' in tipos %}checked{% endif %}> <input hidden
          type="checkbox" name="tipoarchivo" value="Evolución" {%if 'Evolución'
          in tipos %}checked{% endif %}> <input hidden type="checkbox"
          name="tipoarchivo" value="Crónicas" {% if 'Crónicas' in tipos
          %}checked{% endif %}> <input hidden type="checkbox" name="tipoarchivo"
          value="Documental" {% if 'Documental' in tipos %}checked{% endif %}>
          <input
            type="hidden"
            name="order"
            value="{% if order=='asc' %}desc{% else %}asc{% endif %}"
          />
          <input hidden name="by" id="sort-field" value="{{by}}" />
          <input hidden name="query" value="{{query}}" />
          <input hidden name="pag" id="page_field" value="{{pag}}" />
          

          <th scope="col" class="col-md-1">
            <div
              class="row d-flex align-items-center hover-underline"
              onclick="document.getElementById('sort-field').value='nombre';document.getElementById('page_field').value='1';document.getElementById('sort_form').submit();"
              style="display: flex; cursor: pointer"
            >
              <div id="column_name_nombre" class="col-auto">Título</div>
              {% set sort_by = 'nombre' %} {% include
              'jya/components/filter_arrows.html'%}
            </div>
          </th>
          <th scope="col" class="col-md-1">Tipo</th>
          <th scope="col" class="col-md-1">
            <div
              class="row d-flex align-items-center hover-underline"
              onclick="document.getElementById('sort-field').value='inserted_at';document.getElementById('page_field').value='1';document.getElementById('sort_form').submit();"
              style="display: flex; cursor: pointer"
            >
              <div id="column_name_nombre" class="col-auto">
                Fecha de subida
              </div>
              {% set sort_by = 'inserted_at' %} {% include
              'jya/components/filter_arrows.html'%}
            </div>
          </th>
        </form>
        <th scope="col" class="col-1">Acciones</th>
      </tr>
    </thead>

    <tbody>
      {% for archivo in archivos %}
      <tr>
        <td>{{ archivo.nombre }}</td>
        <td>{{ archivo.tipo }}</td>
        <td>{{ archivo.inserted_at.strftime('%d/%m/%Y') }}</td>
        <td>
          
          {%if archivo.es_archivo %}
          
          <button class="btn btn-outline-secondary mx-1" 
          onclick="window.open('{{ url_for('jya.download_archivo', id=archivo.id) }}', '_blank')"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
            </svg>
          </button>

          <button button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal-borrar-archivo-{{archivo.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
          </button>


          <form
            action="{{url_for('jya.delete_archivo', id=info.id, id_archivo=archivo.id)}}"
            method="POST"
          >
            <div class="modal fade" id="modal-borrar-archivo-{{archivo.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Atención</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    ¿Está seguro que quiere eliminar este archivo?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        
          {%else%}

          <a class="btn btn-outline-primary mx-1" 
          href="{{'http://' + archivo.nombre if not archivo.nombre.startswith('http') else archivo.nombre }}"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
            </svg>
          </a>
          
          <button button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal-borrar-enlace-{{archivo.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
          </button>


          <form
            action="{{url_for('jya.delete_enlace', id=info.id, id_enlace=archivo.id)}}"
            method="POST"
          >
            <div class="modal fade" id="modal-borrar-enlace-{{archivo.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Atención</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    ¿Está seguro que quiere eliminar este enlace?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          {%endif%}
          
        </td>
      </tr>
      
      {% endfor %}
    </tbody>
  </table>
</div>

{%include 'jya/components/pagination_archivos_jya.html'%}

<form action="{{url_for('equipo.delete',id=info.id)}}" method="POST">
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Atención
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          ¿Está seguro que quiere eliminar este archivo?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-danger">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</form>