
body {
    font-family: 'Helvetica', sans-serif;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Abril Fatface'; 
    font-weight: bolder;
}

@media (max-width: 576px) {
  .btn-cancelar,.btn-damasco,.btn-verde {
    padding: 0.8em 1.5em; 
    font-size: 0.9rem; 
  }
}

.btn-damasco {
    background-color: #fc7323;
    color: rgb(255, 255, 255); 
    padding: 0.5em 1em; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.5s; 
    text-decoration: none; 
    display: inline-flex;
    align-items: center; 
    font-size: 1rem; 
    justify-content: center; 
    border-radius: 0.50rem;
}



.btn-verde {
    background-color: #106d37;
    color: rgb(255, 255, 255); 
    padding: 0.5em 1em; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.5s; 
    text-decoration: none; 
    display: inline-flex;
    align-items: center; 
    font-size: 1rem; 
    justify-content: center; 
    border-radius: 0.50rem;
}

.btn-cancelar {
  background-color: #f82509;
  color: rgb(255, 255, 255); 
  padding: 0.5em 1em; 
  border: none; 
  cursor: pointer; 
  transition: background-color 0.5s; 
  text-decoration: none; 
  display: inline-flex;
  font-size: 1rem; 
  align-items: center; 
  justify-content: center; 
  border-radius: 0.50rem;
}




h5 {
    font-weight: bold; 
}


.logo-cedica {
    max-height: 60px;    
    height: auto;      
    width: auto;        
}

.table-column-search-btn {
    width: 30px;
}

.table-column-name {
    padding-left: 0%;
    width: auto;
}

.col-equipo-id {
    width: 50px; /* Ancho para la columna de ID */
  }

  .col-equipo-nombre {
    width: 150px; /* Ancho para la columna de Nombre */
  }

  .col-equipo-apellido {
    width: 150px; /* Ancho para la columna de Apellido */
  }

  .col-equipo-dni {
    width: 100px; /* Ancho para la columna de DNI */
  }

  .col-equipo-email {
    width: 200px; /* Ancho para la columna de E-Mail */
  }

  .col-equipo-puesto {
    width: 150px; /* Ancho para la columna de Puesto */
  }

  .col-equipo-acciones {
    width: 100px; /* Ancho para la columna de Acciones */
  }
  .col-equipo-estado {
    width: 100px;
  }