<div class="table-responsive">
    {% include "ecuestre/components/order_by.html"%}
      <table class="table table-striped">
        <thead>
          <tr>
            <!--Me pareció que raza, pelaje, entrenadores y sede podian estar en el perfil asi no es tan largo-->
            <th scope="col">Nombre</th>
            <th scope="col">Fecha nacimiento</th>
            <th scope="col">Sexo</th>
            <th scope="col">Compra/Donación</th>
            <th scope="col">Fecha ingreso</th>
            <th scope="col">Tipo de J&A Asignado</th>
            <th scope="col">Acciones</th>

          </tr>
        </thead>
        <tbody>
          {% for ecuestre in ecuestres %}
          <tr>
            <td>{{ ecuestre.nombre }}</td>
            <td>{{ ecuestre.fecha_nacimiento.strftime('%d/%m/%Y') }}</td>
            <td>{{ ecuestre.sexo }}</td>
            <td>{{ ecuestre.tipo_adquisicion }}</td>
            <td>{{ ecuestre.fecha_ingreso.strftime('%d/%m/%Y')  }}</td>
            <!--aca va lo del select pero no se donde esta definido-->
            <td>{{ ecuestre.j_y_a.trabajo.propuestra_trabajo_institucional if ecuestre.j_y_a else 'Sin jya asignado' }}</td>

            <td>
              <div class="container ">
                <div class="row">

                  <a
                    class="col-4 btn btn-sm equipo-search-btn"
                    title="Perfil ecuestre"
                    href="{{ url_for('ecuestre.get_profile', id=ecuestre.id) }}""
"
                  >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-data-fill" viewBox="0 0 16 16">
                    <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5zM10 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm4-3a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1"/>
                  </svg>
                  </a>
       
                  <!--Boton para eliminar un ususario-->
                  <form class="col-4" action="{{url_for('ecuestre.delete', id=ecuestre.id)}}" method="POST" onsubmit="return confirm('¿Está seguro que quiere eliminar este caballo?')">
                   <!--<input type="hidden" name="ecuestre_id" value="{{ ecuestre.id }}" /> -->
                    <button class="col btn btn-sm btn-outline-danger" title="Eliminar ecuestre" type="submit">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                      </svg>
                    </button>
                  </form>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
         
        </tbody>
      </table>
    </div>
    <div>
    </div>
