{% extends "layout.html" %} {% block title %} Editando Jinete/Amazona {{info.id}} {% endblock %}
{% block head %} {{ super() }} {% endblock %} {% block content %}

<div class="container">
  {% include "ecuestre/components/messages.html" %}
  <form
    id="edit-form"
    class="needs-validation"
    novalidate
    action="{{url_for('ecuestre.save_edit', id=info.id)}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="row">
      <div class="col">
        <div class="row">
          <h2 class="ecuestre-profile-title text-secondary">
            Información del caballo
          </h2>
          <ul class="list-unstyled mb-1-9">
            <li class="mb-2 mb-xl-3 display-28">
              <span class="display-26 text-primary me-2 font-weight-600"
                >Nombre:</span
              ><input id="nombre-input" name="nombre" class="form-control" value="{{info.nombre}}" required>
              <div class="invalid-feedback">
                Ingrese un nombre.
              </div>
            </li>
            <li class="mb-2 mb-xl-3 display-28">
              <span class="display-26 text-primary me-2 font-weight-600"
                >Fecha nacimiento:</span
                ><input id="fecha_nacimiento-input" name="fecha_nacimiento" type = "date" class="form-control" value="{{info.fecha_nacimiento.strftime('%Y-%m-%d')}}" required>
                <div class="invalid-feedback">
                  Ingrese una fecha de nacimiento.
                </div>
              </li>
            <li class="mb-2 mb-xl-3 display-28">
              <span class="display-26 text-primary me-2 font-weight-600"
                >Sexo:</span>
                <div class="row">
                  <div class="col-6">
                    <select name="sexo" class="form-control">
                      <option value="Macho" {% if info.sexo == 'Macho' %}selected{% endif %}>Macho</option>
                      <option value="Hembra" {% if info.sexo == 'Hembra' %}selected{% endif %}>Hembra</option>                                  
                    </select>
                  </div>
                </div>
            </li>
            <li class="mb-2 mb-xl-3 display-28">
              <span class="display-26 text-primary me-2 font-weight-600"
                >Raza:</span
              ><input id="raza-input" name="raza" class="form-control" value="{{info.raza}}" required>
              <div class="invalid-feedback">
                Ingrese una raza.
              </div>
            </li>
            <li class="mb-2 mb-xl-3 display-28">
              <span class="display-26 text-primary me-2 font-weight-600"
                >Pelaje:</span
              ><input id="pelaje-input" name="pelaje" class="form-control" value="{{info.pelaje}}" required>
              <div class="invalid-feedback">
                Ingrese un tipo de pelaje.
              </div>
            </li>
            <li class="mb-2 mb-xl-3 display-28">
              <span class="display-26 text-primary me-2 font-weight-600"
                >Tipo adquisición:</span
              ><input id="tipo_adquisicion-input" name="tipo_adquisicion" class="form-control" value="{{info.tipo_adquisicion}}" required>
              <div class="row">
                <div class="col-6">
                  <select name="tipo_adquisicion" class="form-control">
                    <option value="Compra" {% if info.tipo_adquisicion == 'Compra' %}selected{% endif %}>Compra</option>
                    <option value="Donación" {% if info.tipo_adquisicion == 'Donación' %}selected{% endif %}>Donación</option>                                  
                  </select>
                </div>
              </div>
            </li>
              <li class="mb-2 mb-xl-3 display-28">
                <span class="display-26 text-primary me-2 font-weight-600"
                  >Fecha ingreso:</span
                  ><input id="fecha_ingreso-input" name="fecha_ingreso" type = "date" class="form-control" value="{{info.fecha_ingreso.strftime('%Y-%m-%d')}}" required>
                  <div class="invalid-feedback">
                    Ingrese una fecha de ingreso.
                  </div>
                </li>
                <li class="mb-2 mb-xl-3 display-28">
                  <span class="display-26 text-primary me-2 font-weight-600"
                    >Sede:</span
                  ><input id="sede_asignada-input" name="sede_asignada" class="form-control" value="{{info.sede_asignada}}" required>
                  <div class="invalid-feedback">
                    Ingrese una sede.
                  </div>
                </li>
                <h2 class="equipo-profile-title text-secondary">Equipo</h2>
                <li class="mb-2 mb-xl-3 display-28">
                  <span class="display-26 text-primary me-2 font-weight-600"
                    >Entrenador/Conductor:</span>
                  <div class="form-group">
                      <select class="form-control" id="entrenadorConductorSelect" name="entrenador_conductor" required>
                        <option hidden selected disabled value=""></option>
                        {% for equipo in equipos %}
                          <option value="{{ equipo.id }}">{{ equipo.nombre }} {{ equipo.apellido }} ({{ equipo.puesto }})</option>
                        {% endfor %}
                      </select>
                    </div>
                </li>
          <ul class="list-group list-unstyled">
            <h2 class="equipo-profile-title text-secondary">
              Archivos
            </h2>
            <div class="mb-3">
              <input class="form-control" type="file" id="formFile" name="archivos_ecuestre">
            </div>
            {% for a in info.archivos %}
            <li class="list-group-item" id="archivo-field-{{a.id}}">
              <div class="row align-items-center">
                <div class="col">
                    <input hidden id="input-check-{{a.id}}" type="checkbox" name="archivos_a_eliminar" value="{{ a.id }}">
                    {{ a.nombre }}
                </div>
                <div class="col d-flex justify-content-end">
                    <button id="button-{{a.id}}" class="btn btn-outline-danger mx-1" type="button" onclick="eliminarArchivo('{{ a.id }}')">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </button>
                </div>
            </div>
            </li>
            {%endfor%}
          </ul>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-start">
        <button
          class="btn btn-outline-primary mx-2 align-self-start"
          type="submit"
        >
          Guardar
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
            <path d="M11 2H9v3h2z"/>
            <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
          </svg>
        </button>
        <button class="btn btn-outline-secondary mx-2 align-self-start" onclick="window.history.back();">
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>

<script>
  function validateForm(){
    'use strict'

    const form = document.getElementById("edit-form")
  
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)

    const emailInput = document.getElementById('email-input');
    emailInput.addEventListener('input', function() {
      if (!/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(this.value)) {
        this.setCustomValidity('Ingrese un email válido.');
      } else {
        this.setCustomValidity(''); // Resetear el mensaje si es válido
      }
    });
  }

  validateForm();
  function eliminarArchivo(archivo_id){
      const field = document.getElementById(`archivo-field-${archivo_id}`);
      const checker = document.getElementById(`input-check-${archivo_id}`);
      const button = document.getElementById(`button-${archivo_id}`);

      checker.checked = !checker.checked;

      if (!checker.checked) {
        button.classList.remove("btn-secondary")
        button.classList.add("btn-outline-danger")
        field.classList.remove("archivo-eliminado");
        
    } else {
        button.classList.remove("btn-outline-danger")
        button.classList.add("btn-secondary")
        field.classList.add("archivo-eliminado");
        
    }
  }

</script>

{% endblock %}
