{% extends "layout.html" %}

{% block title %} Registro {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
{% include "auth/messages.html" %}




<section class="h-100 h-custom " >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="{{ url_for('static', filename='img/cedica1.png') }}" class="img-fluid img-thumbnail" alt="Logo Cedica">
             
            <div class="card-body p-4 p-md-5">
                
              <h2 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registrar usuario</h2>
  
              <form class="px-md-2">

  
                <div data-mdb-input-init class="form-outline mb-4">
                    
                  <label class="form-label" for="form3Example1q">Email</label>
                  <input type="text" id="form3Example1q" class="form-control" />
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q">Alias</label>
                    <input type="text" id="form3Example1q" class="form-control" />
                  </div>
  

                  <div data-mdb-input-init class="form-outline mb-4">

  
                    <div data-mdb-input-init class="form-outline mb4">
                      <label for="password" class="form-label">Contraseña</label>
                      <input type="text" class="form-control" id="examplePassword" />
                    </div>
  
                  </div>

                  <div class="col-md-6 mb-4">
                    <select data-mdb-select-init>
                      <option value="" >Rol</option>
                      <option value="2">Female</option>
                      <option value="3">Male</option>
                      <option value="4">Other</option>
                    </select>
  
                  </div>
                </div>
  
              
  
  
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg mb-1">Registrar</button>
  
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{%endblock%}