<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" role="contentinfo">
        <section class="col-md-4 d-flex align-items-center" aria-labelledby="company-info">
            <h2 id="company-info" class="visually-hidden">Información de la empresa</h2>
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1" aria-label="Ir a la página principal">
                <img src="{{ url_for('static', filename='img/cedica.png') }}" class="img fluid logo-cedica" alt="Logo Cedica">
            </a>
            <span class="text-muted">&copy; 2024 Grupo 38</span>
        </section>

        <nav class="nav col-md-4 justify-content-end list-unstyled d-flex" aria-label="Redes sociales" role="navigation">
            <h2 class="visually-hidden">Enlaces a redes sociales</h2>
            <li class="ms-3">
                <a class="text-muted" href="https://x.com/CEDICA_" aria-label="Twitter de Cedica">
                    <i class="bi bi-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="https://www.instagram.com/cedica.equitacionparatodos/" aria-label="Instagram de Cedica">
                    <i class="bi bi-instagram" aria-hidden="true"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="https://www.facebook.com/cedica.equitacionparatodos/" aria-label="Facebook de Cedica">
                    <i class="bi bi-facebook" aria-hidden="true"></i>
                </a>
            </li>
        </nav>
    </footer>
</div>
